.flows.json.backup
[{"id":"41f61d2.fbe09e4","type":"tab","label":"Flow 1"},{"id":"b337a0fb61243e83","type":"puppeteer-browser-launch","z":"41f61d2.fbe09e4","name":"","x":300,"y":480,"wires":[["7a7c03d47b01572f"]]},{"id":"7a7c03d47b01572f","type":"puppeteer-browser-newPage","z":"41f61d2.fbe09e4","name":"","x":470,"y":500,"wires":[["95fdaeea0cf8e5a5"]]},{"id":"95fdaeea0cf8e5a5","type":"puppeteer-page-goto","z":"41f61d2.fbe09e4","name":"","url":"https://google.com","payloadTypeUrl":"str","x":630,"y":500,"wires":[[]]},{"id":"3737b83f928e03e4","type":"function","z":"41f61d2.fbe09e4","name":"","func":"msg.payload = {\n    key: 'value'\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":130,"y":460,"wires":[["b337a0fb61243e83"]]},{"id":"6c0e5600c1fb64b7","type":"inject","z":"41f61d2.fbe09e4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":380,"wires":[["3737b83f928e03e4"]]}]